{{#*inline "title"}}About - CodeQuest{{/inline}}

{{#*inline "body"}}
    <h1>About</h1>
    <p>This website hosts a collection of fun stories and quests.</p>
{{/inline}}

{{> base user=user active-about=true }}
