{{#*inline "title"}}{{quest.name}} - CodeQuest{{/inline}}

{{#*inline "body"}}
    <h1>Quest: {{quest.name}}</h1>

    {{#if answer_was_correct}}
        <p>Congratulations, the answer you submitted was correct! <a href="/quests">[Back to Quests]</a></p>
    {{else}}
        <p>Unfortunately, the answer you submitted was wrong! <a href="/quest/{{quest.id}}">[Keep trying]</a></p>
    {{/if}}
{{/inline}}

{{> base user=user }}
