{{#*inline "title"}}Log In - CodeQuest{{/inline}}

{{#*inline "body"}}
    <h1>Log In</h1>

    <form id="login-form" class="form-box" method="POST" action="/account/login">
        <div id="error-box" class="error" style="display:none;"></div>

        <label>Username</label>
        <input id="username-field" type="text" name="username" autoFocus required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit" class="submit-btn">Log In</button>
    </form>

    <script>
    const usernameField = document.getElementById('username-field');

    document.getElementById("login-form").addEventListener("submit", async (e) => {
        e.preventDefault();

        const username_regex = /^[a-zA-Z0-9]{1,30}$/;

        if (!username_regex.test(usernameField.value)) {
            const errorBox = document.getElementById("error-box");
            errorBox.textContent = "Username can only contain letters and digits.";
            errorBox.style.display = "block";
            return;
        }

        const form = e.target;
        const formData = new FormData(form);

        const response = await fetch("/account/login", {
            method: "POST",
            body: formData,
            credentials: "include",
        });

        const data = await response.json();

        if (data.success) {
            window.location.href = data.redirect;
            return;
        } else {
            const errorText = data.error;
            const errorBox = document.getElementById("error-box");
            errorBox.textContent = errorText || "Unknown error.";
            errorBox.style.display = "block";
            form.elements.password.value = "";
            return;
        }
    });
    </script>
{{/inline}}

{{> base user=user }}
