<nav>
    <div class="nav-left">
        <a href="/" class="logo">🧩 CodeQuest</a>
        <a href="/about" {{#if active-about}}class="active"{{/if}}>About</a>
        <a href="/quests" {{#if active-quests}}class="active"{{/if}}>Quests</a>
    </div>

    <div class="nav-right">
        {{#if user}}
            <a href="/account" class="username">{{user}}</a>
            <a class="btn" href="/logout">Logout</a>
        {{else}}
            <a href="/login" class="btn">Log In</a>
            <a href="/signup" class="btn accent">Sign Up</a>
        {{/if}}
    </div>
</nav>
