<nav>
    <div class="nav-left">
        <a href="/" class="logo">🧩 CodeQuest</a>
        <a href="/about" {{#if active-about}}class="active"{{/if}}>About</a>
        <a href="/quests" {{#if active-quests}}class="active"{{/if}}>Quests</a>
    </div>

    <div class="nav-right">
        {{#if user}}
            <a href="/account" class="username">{{user}}</a>

            <form name="logoutform" action="/account/logout" method="POST" style="display: inline-block;">
                <a class="btn" href="javascript: submitlogoutform()">Logout</a>
            </form>
            <script type="text/javascript">
                function submitlogoutform() {
                    document.logoutform.submit();
                }
            </script>
        {{else}}
            <a href="/login" class="btn">Log In</a>
            <a href="/signup" class="btn accent">Sign Up</a>
        {{/if}}
    </div>
</nav>
