{{#*inline "body"}}
    <h1>Puzzles</h1>

    <div class="card-grid">
        <a class="card" href="puzzle1.html">Puzzle 1</a>
        <a class="card" href="puzzle2.html">Puzzle 2</a>
        <a class="card" href="puzzle3.html">Puzzle 3</a>
        <a class="card" href="puzzle4.html">Puzzle 4</a>
    </div>
{{/inline}}

{{> base title="Puzzles - Code-Quest" user=user active-puzzles=true }}
