{{#*inline "title"}}Quests - CodeQuest{{/inline}}

{{#*inline "body"}}
    <h1>Quests</h1>

    <div class="card-grid">
        {{#each quests}}
            <a class="card" href="{{uri}}">{{name}}</a>
        {{/each}}
    </div>

    {{#if user}}
        <div class="right-hand-menu">
            <a href="/quests/create" class="create-quest-btn">Create Quest</a>
        </div>
    {{/if}}
{{/inline}}

{{> base user=user active-quests=true }}
